{% extends 'base.html' %}
{% load static %}

{% block title %}Home | Credit Managment App{% endblock title %}
{% block homeactive %}active{% endblock homeactive %}

{% block body %}
<div class="container my-3">
<div class="jumbotron">
    <h1 class="display-4">Hello, welcome to the credit management application!</h1>
    <p class="lead">You can use it for transfer the credit from one user to another</p>
    <hr class="my-4">
    <a class="btn btn-dark btn-lg" href="/transfer_credit" role="button">Transfer</a>
  </div>
  <img src="static/img/cm.jpg" style="height: 250px;" class="img-fluid w-100" alt="Responsive image", height="23px">

 </div> 
{% endblock body %}